.akita-loading-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.toast-fade-enter-active {
    transition: opacity;
}

.toast-fade-leave-active {
    transition: opacity;
}

.toast-fade-enter-from,
.toast-fade-leave-to {
    opacity: 0;
}